@font-face { /* The main font for the website */
    font-family: "Prompt";
    src: url("../../Assets/Fonts/Prompt-Medium.ttf") format('truetype');
}

@font-face { /* The font for Raggy */
    font-family: "Tajawal";
    src: url("/Assets/Fonts/Tajawal-Regular.ttf") format('truetype');
}

* {
    font-family: Prompt;
    background-color: #706563;
}

.Wrapper {
    display: flex;
    width: 60%;
    max-width: 550px;
    min-height: 390px;
    flex-flow: column nowrap;
    padding: 25px;
    background-color: #3B0D11;
    border-radius: 25px;
    box-shadow: 10px 10px 15px black;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.icon {
    margin-right: 20px;
    height: 100px;
    width: 100px;
    object-fit: contain;
}

.PageContainer {
    padding: 25px;
    border-radius: 5px;
    height: fit-content;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background-color: #6A3937;
}
.PageContainer > div > a{
    margin: 0rem .5rem;
    padding: 0rem .25rem;
    border-radius: 15px;
    background-color: transparent;
    color: #b19493;
}
.PageContainer .Title{
    margin: 1rem 0rem;
}
.PageContainer > div {
    display: flex;
    background-color: #6A3937;
}
.PageContainer > div > h1 , .PageContainer > div > img{
    background-color: #6A3937;
}
.details {
    display: flex;
    height: 80%;
    width: 50vh;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    background-color: #6A3937;
}
.details form{
    background-color: #6A3937;
}
.details form .submit{
    border-bottom-style: none;
}
.submit:hover{
    transition-duration: 100ms;
    background-color: white;
    color: black;
}
.details input::placeholder{
    color: #3B0D11;
}
.details input {
    height: 3rem;
    border-style: none;
    border-color: black;
    border-width: .1rem;
    border-bottom-style: solid;
    font-size: 1.25rem;
    color: aliceblue;
    outline: none;
    background-color: #6A3937;
}


.back {
    position: absolute;
    width: fit-content;
    background-color: transparent;
    border-style: none;
    padding: 10px;
    border-radius: 5px;
}

.back > img {
    background-color: transparent;
    width: 2rem;
    height: 2rem;
}