 * {
    font-family: Prompt;
}
body {
    background-color: white;
    font-family: "Prompt";
    display: flex;
    margin: 0%;
    flex-direction: column;
}
/* Main game page */
.Serverlist {
    display: flex;
    flex-flow: column nowrap;
    margin-left: 5%;
    margin-right: 5%;
}

.Tools {
    display: flex;
    padding: 5px;
    align-items: center;
}
.Tools > input {
    margin: 5;
}
.Tools > form {
    display: flex;
    align-items: center;
    margin: 5;
}

.PostBox {
    display: flex;
}

/* Message content */

.MsgCont {
    display: flex;
    padding-left: 1%;
    padding-right: 1%;
    flex-direction: column;
    border: 1px 1px #dadada;
    box-shadow: 1px 5px #dadada;
}
.MsgCont > div > h4{
    margin: 15px 0 10px 0;
    font-weight: normal;
    font-style: italic;
}
.MsgCont > div{
    display: flex;
    text-indent: 10px;
    align-items: center;
    height: 100%;
    align-self: stretch;
}
.User {
    padding: 5px;
}
.Like {
    width: fit-content;
    padding: 5px;
}
.Upload {
    max-height: 450px;
    max-width: 450px;
}